*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}
.wrapper{
    background-color: rgba(54, 55, 59, 0.6);
    border-bottom: 2px solid white;
    margin: 0 auto;
    height: 120px;
    align-items: center;
    padding: 20px 20px 0px 30px;
}
.btn{
    color:white;
    font-size: 30px;
}
.disabled-btn{
    color: lightgray;
    font-size: 30px;
}
.dropdown-btn::after{
    content: "▼";
    font-size: 25px;

}
.button-btn{
    padding: 15px 10px 15px 10px;
    font-size: 20px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    color:green;
}
.search-btn{
    padding: 10px 50px 10px 10px;
    background-color: white;
    font-size: 30px;
    border-radius: 5px;
}
form{
    margin-left: 240px;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    text-align: center;
}
ul li{
    padding:20px 30px 20px 0px;
}
.menu{
    position: relative;
    display: none;
}
.fa-bars{
    
    position: absolute;
    top:-65px;
    left:1450px;
}
@media screen and (max-width:768px) {
    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: none;
    }
    .menu{
        position: relative;
        display: block;
    }
    .fa-bars{
        
        position: absolute;
        top:5%;;
        left: 5%;
    }
}
@media screen and (min-width:769px) and (max-width:1200px){
    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    .search-btn{
        padding: 10px 10px 10px 10px;
        background-color: white;
        font-size: 20px;
        border-radius: 5px;
        width: 100%;
        align-items: center;
        margin-top: 50px;
    }
    .button-btn{
        padding: 15px 10px 15px 10px;
        font-size: 20px;
        border: 2px solid green;
        border-radius: 5px;
        background-color: transparent;
        color:green;
        width: 100%;
    }
    form{
        margin-left: 0px;
    }
}